<phpunit
	backupGlobals="false"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	bootstrap="tests/wp-tests-bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	>
	<php>
		<env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-tests-config.php" />
	</php>

	<testsuites>
		<testsuite name="plugins">
			<directory suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
